.nav {
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.home {
  font-size: 40px;
}

.box {
  background-color: #003d7c;
  color: #003d7c;
}
